<footer class="footer">
	<div class="container footer-container">
		<nav class="footer-nav">
			<a class="footer-logo" href="#header">Lloyd<span
					class="jefferson">Jefferson.</span></a>
			<ul class="social-media">
				<li class="social">
					<a target="_blank" rel="noopener noreferrer"
						href="https://www.instagram.com/goitclub/">Instagram</a>
				</li>
				<li class="social">
					<a target="_blank" rel="noopener noreferrer"
						href="https://www.facebook.com/goITclub/">Facebook</a>
				</li>
				<li class="social">
					<a target="_blank" rel="noopener noreferrer"
						href="https://ua.linkedin.com/school/goit-start-your-career-in-it/?trk=similar-pages">Linkedin</a>
				</li>
				<li class="social">
					<a target="_blank" rel="noopener noreferrer"
						href="https://github.com/Fovardell/tech-titans">GitHub</a>
				</li>
			</ul>
		</nav>
		<p class="copyright">© Copyright 2024. Made by LloydJefferson</p>
	</div>
</footer>