<footer class="footer">
  <div class="container">
    <h1 class="logo">
      Lloyd<span class="logo-green" target="_blank" rel="noopener noreferrer"
        >Jeferson</span
      >
    </h1>
    <ul class="footer-link-list">
      <li class="footer-social-link">
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          >Instagram</a
        >
      </li>
      <li class="footer-social-link">
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          >Facebook</a
        >
      </li>
      <li class="footer-social-link">
        <a
          href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
          target="_blank"
          rel="noopener noreferrer"
          >LinkedIn</a
        >
      </li>
      <li class="footer-social-link">
        <a
          href="fovardell.github.io/tech-titans/"
          target="_blank"
          rel="noopener noreferrer"
          >Github</a
        >
      </li>
    </ul>
  </div>
  <div class="footer-copyright">
    <p class="footer-text">Copyright © 2022. All rights reserved.</p>
  </div>
</footer>
