<header class="header-main">
	<div class="div-header">
	  <div class="header-logo">
		<p class="header-logo-p">LLOYD<span class="header-logo-span">JEFFERSON.</span></p>
	  </div>
  
	  <div class="header-menu">
		<div class="header-menu-title">
		  <button id="openModalBtn" class="burger-menu">
			<svg width="24" height="24" viewBox="0 0 24 24">
				<path d="M3 6h18M3 12h18M3 18h18" stroke="black" stroke-width="2" stroke-linecap="round"/>
			  </svg>
		</button>
			
		</div>
		<div class="header-menu-div">
			<ul class="header-menu-items">
				<li class="header-menu-li"><a href="#about-me">About me</a></li>
				<li class="header-menu-li"><a href="#about-me">Projects</a></li>
				<li class="header-menu-li"><a href="#about-me">Contacts</a></li>
			</ul>
		 </div>
	  </div>
	</div>
  </header>
  