<header class="header-main">
	<div class="div-header">
		<div class="header-logo">
			<p>LLOYD<span class="header-logo-span">JEFFERSON.</span></p>
		</div>
	
		<div class="header-menu">
			<div class="menu-title">
				<!-- <svg width="24" height="24" viewBox="0 0 24 24">
				   
					<path svg="/src/img/svgDev.svg"></path>
				</svg> -->
				<button id="openModalBtn" height="16px">E</button>
			</div>
			<ul class="menu-items">
				<li>About me</li>
				<li>Projects</li>
				<li>Contacts</li>
			</ul>
		</div>
		
	</div>
	
</header>