<header class="header-main">
	<div class="div-header">
	  <div class="header-logo">
		<p class="header-logo-p">LLOYD<span class="header-logo-span">JEFFERSON.</span></p>
	  </div>
  
	  <div class="header-menu">
		<div class="header-menu-title">
		  <button id="openModalBtn">E</button>
		  <!-- <svg width="24" height="24" viewBox="0 0 24 24">
			<path svg="/src/img/svgDev.svg"></path>
		  </svg> -->
		</div>
		<div class="header-menu-div">
			<ul class="header-menu-items">
				<li class="header-menu-li">About me</li>
				<li class="header-menu-li">Projects</li>
				<li class="header-menu-li">Contacts</li>
			</ul>
		 </div>
	  </div>
	</div>
  </header>
  