<section class="hero-section">
	<div class="container">
		<h1 class="hero-h1">
			<span class="profile-row">
				<span class="profile-hello-span">HELLO, I AM</span>
				<span class="profile-picture-span">
					<picture>
						<source srcset="
							/img/general-webp/smallPortrait@1x.webp 1x,
							/img/general-webp/smallPortrait@2x.webp 2x
						" type="image/webp" />
						<source srcset="
							/img/smallPortrait@1x.png 1x,
							/img/smallPortrait@2x.png 2x
						" type="image/jpg" />
						<img class="profile-picture" src="/img/smallPortrait@1x.png"
							alt="Profile Picture" loading="lazy" />
					</picture>
				</span>
			</span>
			<span class="fullstack-developer-span">FULLSTACK DEVELOPER</span>
		</h1>

		<div class="hero-div-for-dectop">
			<a href="#contacts" class="hero-button">
				<svg width="30" height="15">
					<use href="/img/sprite.svg#arrow"></use>
				</svg>
				<span class="burron-text">Order the project</span> </a>

			<p class="hero-history">I WORK WITH PEOPLE ALL OVER THE
				WORLD TO
				CREATE
				<span class="hero-history-accent">IMPRESSIVE</span> AND
				<span class="hero-history-accent">FUNCTIONAL WEBSITES</span>
				THAT REFLECT EACH CLIENT'S UNIQUE PERSONALITY.
			</p>
		</div>
	</div>



	<div class="hero-social-div">
		<ul class="hero-social-list">
			<li class="hero-social-li"><a href="https://www.instagram.com/goitclub/"
					target="_blank" та rel="noopener noreferrer">Instagram</a></li>
			<li class="hero-social-li"><a href="https://www.facebook.com/goITclub/"
					target="_blank" та rel="noopener noreferrer">Facebook</a></li>
			<li class="hero-social-li"><a href="https://www.youtube.com/c/GoIT"
					target="_blank" та rel="noopener noreferrer">YouTube</a></li>
			<li class="hero-social-li"><a
					href="https://github.com/Fovardell/tech-titans" target="_blank" та
					rel="noopener noreferrer">GitHub</a></li>
		</ul>

	</div>

</section>