<section class="hero-section">
    <div class="hero-main-div">
        <div class="hero-content">
            <h1 class="hero-h1">HELLO, I AM
                <span class="fullstack-developer-span">FULLSTACK DEVELOPER</span>
            </h1>
            <img src="../img/face.jpg" alt="Profile Picture" class="profile-picture">
        </div>

        <div class="hero-div-button">
            <button class="hero-button">
                <!-- <span>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM11 17H13V13H17V11H13V7H11V11H7V13H11V17Z" fill="currentColor"/>
                    </svg>
                </span> -->
                ORDER THE 
                <span class="hero-div-span-for-style">&nbsp;PROJECT</span>
            </button>
        </div>

        <div class="hero-history-div">
            <p class="hero-history-p">I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE 
                <span class="hero-history-p-span">IMPRESSIVE</span> AND 
                <span class="hero-history-p-span">FUNCTIONAL WEBSITES</span> 
                THAT REFLECT EACH CLIENT'S UNIQUE PERSONALITY.
            </p>
        </div>
    </div>

 

    <div class="hero-social-div">
        <ul class="hero-social-list">
            <li class="hero-social-li"><a href="https://www.instagram.com/goitclub/">Instagram</a></li>
            <li class="hero-social-li"><a href="https://www.facebook.com/goITclub/">Facebook</a></li>
            <li class="hero-social-li"><a href="#">LinkedIn</a></li>
            <li class="hero-social-li"><a href="#">GitHub</a></li>
        </ul>
        
    </div>

</section>