<section class="reviews">
  <div class="container">
    <h2>Reviews</h2>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide"></li>
        <li class="swiper-slide"></li>
        <li class="swiper-slide"></li>
        <li class="swiper-slide"></li>
        <li class="swiper-slide"></li>
        <li class="swiper-slide"></li>
      </ul>
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
