<section class="reviews">
	<div class="container">
		<h2 class="reviews-title">Reviews</h2>
		<div class="swiper" id="reviews-swiper">
			<div id="notification" class="notification"></div>
			<ul class="swiper-wrapper" id="slide"></ul>
			<div class="reviews-slider">
				<div class="swiper-button-prev">
					<svg width="24" height="24" class="swiper-button">
						<use href="/img/sprite.svg#icon-arrow-right"></use>
					</svg>
				</div>
				<div class="swiper-button-next">
					<svg width="24" height="24" class="swiper-button">
						<use href="/img/sprite.svg#icon-arrow-right"></use>
					</svg>
				</div>
			</div>
		</div>
	</div>
</section>