<section class="tech-skills">
	<h2 class="tech-skills-header visually-hidden">Tech Skills</h2>
	<div class="tech-skills-line green">
		<div class="marquee__inner">
			<ul class="tech-skills-list green">
				<li class="tech-skills-list-item green">HTML/CSS</li>
				<li class="tech-skills-list-item green">JavaScript</li>
				<li class="tech-skills-list-item green">React</li>
				<li class="tech-skills-list-item green">Node.js</li>
				<li class="tech-skills-list-item green">React Native</li>
				<li class="tech-skills-list-item green">TypeScript</li>
			</ul>
			<ul class="tech-skills-list green">
				<li class="tech-skills-list-item green">HTML/CSS</li>
				<li class="tech-skills-list-item green">JavaScript</li>
				<li class="tech-skills-list-item green">React</li>
				<li class="tech-skills-list-item green">Node.js</li>
				<li class="tech-skills-list-item green">React Native</li>
				<li class="tech-skills-list-item green">TypeScript</li>
			</ul>
		</div>
	</div>
	<div class="tech-skills-line gray">
		<div class="marquee__inner">
			<ul class="tech-skills-list gray">
				<li class="tech-skills-list-item gray">HTML/CSS</li>
				<li class="tech-skills-list-item gray">JavaScript</li>
				<li class="tech-skills-list-item gray">React</li>
				<li class="tech-skills-list-item gray">Node.js</li>
				<li class="tech-skills-list-item gray">React Native</li>
				<li class="tech-skills-list-item gray">TypeScript</li>
			</ul>
			<ul class="tech-skills-list gray">
				<li class="tech-skills-list-item gray">HTML/CSS</li>
				<li class="tech-skills-list-item gray">JavaScript</li>
				<li class="tech-skills-list-item gray">React</li>
				<li class="tech-skills-list-item gray">Node.js</li>
				<li class="tech-skills-list-item gray">React Native</li>
				<li class="tech-skills-list-item gray">TypeScript</li>
			</ul>
		</div>
	</div>
</section>