<section class="tech-skills">
  <h2 class="tech-skills-header visually-hidden">Tech Skills</h2>
  <div class="tech-skills-green-line">
    <ul class="tech-skills-green-list">
      <li class="tech-skills-green-list-item">HTML/CSS</li>
      <li class="tech-skills-green-list-item">JavaScript</li>
      <li class="tech-skills-green-list-item">React</li>
      <li class="tech-skills-green-list-item">Node.js</li>
      <li class="tech-skills-green-list-item">React Native</li>
      <li class="tech-skills-green-list-item">TypeScript</li>
    </ul>
  </div>
  <div class="tech-skills-gray-line">
    <ul class="tech-skills-gray-list">
      <li class="tech-skills-gray-list-item">HTML/CSS</li>
      <li class="tech-skills-gray-list-item">JavaScript</li>
      <li class="tech-skills-gray-list-item">React</li>
      <li class="tech-skills-gray-list-item">Node.js</li>
      <li class="tech-skills-gray-list-item">React Native</li>
      <li class="tech-skills-gray-list-item">TypeScript</li>
    </ul>
  </div>
</section>
