<section class="work-together">
	<div class="container">
		<h2 class="title" id="contacts">
			let’s<span class="title-accent">work together</span>
		</h2>
		<div class="contacts-wrapper">
			<div class="info-block contacts-block">
				<p class="attantion-text attantion-text-contacts">
					Contact me to transform your ideas into exceptional solutions.
				</p>
				<address>
					<ul class="adress-list">
						<li class="address-item text">
							<svg width="24" height="24">
								<use href="/img/sprite.svg#icon-phone"></use>
							</svg>
							<a href="tel:+380904567890">+38 090
								456 78 90
							</a>
						</li>
						<li class="address-item text">
							<svg width="24" height="24">
								<use href="/img/sprite.svg#icon-mail"></use>
							</svg>
							<a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com
							</a>
						</li>
						<li class="address-item text">
							<svg width="24" height="24">
								<use href="/img/sprite.svg#icon-location"></use>
							</svg>
							<a
								href="https://www.google.com/maps/place/New+York,+NY,+USA/@40.6976312,-74.1444874,11z/data=!4m6!3m5!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!8m2!3d40.7127753!4d-74.0059728!16zL20vMDJfMjg2?authuser=0&entry=ttu">
								USA,
								New York</a>
						</li>
					</ul>
				</address>
			</div>
			<form class="form">
				<label class="contacts-label">
					<input class="contacts-email form-items" type="text" name="user_email"
						placeholder="Your email*">
					<p class="invalid-email">
						Invalid email, try again
					</p>
					<svg class="success-svg" width="16" height="16">
						<use href="/img/sprite.svg#success-mark"></use>
					</svg>
				</label>

				<label class="contacts-label">
					<textarea class="contacts-message form-items" name="user_message"
						placeholder="Message"></textarea>
					<p class="invalid-text">
						Message must contain from 10 characters
					</p>
					<svg class="success-svg" width="16" height="16">
						<use href="/img/sprite.svg#success-mark"></use>
					</svg>
				</label>
				<button class="contacts-button form-items" type="submit">SEND
					MESSAGE</button>
			</form>
		</div>
	</div>
</section>