.about-content-photo-description {
	margin-bottom: 40px;
}
.about-content-photo {
	width: 100%;
	height: 374px;
}
.about-content-photo img {
	width: 100%;
}
.about-description-title {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 32px;
	line-height: 1.25;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: var(--black);
	margin-bottom: 32px;
}
.block-bio {
	padding-top: 40px;
}

.about-description-text {
	margin-bottom: 24px;
}

.about-description-text:last-child {
	margin-bottom: 0;
}

.about-edu-item {
	padding-left: 32px;
	margin-bottom: 12px;
	position: relative;
}
.about-edu-item.about-edu-item-role {
	padding-left: 24px;
}
.about-edu-list li:last-child {
	margin-bottom: 0;
}
.about-edu-item.about-edu-item-role::before {
	left: 6px;
	top: 10px;
}
.about-edu-item:last-child {
	margin-bottom: 0;
}
.about-edu-item::before {
	position: absolute;
	left: 10px;
	top: 10px;
	content: "";
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 1px;
	background: var(--accet-green);
}

/**--------------ABOUT-ME-TABLET--------------*/
@media screen and (min-width: 768px) {
	.about-content-photo-description {
		display: flex;
		flex-direction: row;
		gap: 32px;
		justify-content: space-between;
		margin-bottom: 60px;
	}
	.info-block {
		width: 336px;
		padding-top: 0;
		margin-bottom: 0;
	}
	.about-content-photo {
		margin-top: 368px;
		width: 336px;
		height: 392px;
	}
	.about-content-text {
		display: flex;
		flex-direction: row;
		gap: 32px;
		justify-content: space-between;
	}
	.container.my-section-about {
		background-image: url("/img/decor-about-@1x.png");
		background-position: bottom 158px right 32px;
		background-size: 336px 252px;
		background-repeat: no-repeat;
	}
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.container.my-section-about {
			background-image: url("/img/decor-about-2x.png");
		}
	}
}
/**--------------ABOUT-ME-DESKTOP--------------*/
@media screen and (min-width: 1280px) {
	.title {
		margin-bottom: 48px;
	}
	.about-content-photo-description {
		gap: 136px;
		align-self: center;
		margin-bottom: 80px;
	}
	.block-bio {
		width: 488px;
	}
	.about-content-photo {
		margin-top: 272px;
		margin-left: 208px;
		width: 384px;
		height: 448px;
	}

	.about-content-text {
		gap: 136px;
	}
	.about-content-text {
		justify-content: start;
	}
	.block-list {
		width: 384px;
	}
	.about-description-title {
		font-size: 36px;
		line-height: 1.33333;
		letter-spacing: 0.01em;
	}

	.about-content-text {
		margin-left: 208px;
	}
	.container.my-section-about {
		background-image: url("/img/decor-about-@1x.png");
		background-position: bottom 264px right 32px;
		background-size: 384px 288px;
		background-repeat: no-repeat;
	}

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.container.my-section-about {
			background-image: url("/img/decor-about-2x.png");
		}
	}
}

.dark-theme .title {
	color: var(--white);
}
.dark-theme .title-accent {
	color: var(--darkTh-accet-green);
}
.dark-theme .about-description-title {
	color: var(--white);
}
.dark-theme .about-edu-item::before {
	color: var(--white);
}
.dark-theme .about-description-text {
	color: var(--white);
}
.dark-theme .text {
	color: var(--white);
}
