@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@font-face {
	font-family: "Impact";
	src: url("../fonts/impact.eot");
	src: url("../fonts/impact.woff") format("woff"), url("../fonts/impact.ttf") format("truetype"),
		url("../fonts/impact.svg") format("svg");
	font-style: normal;
	font-weight: normal;
}
:root {
	--font-impact: Impact, sans-serif;
	--font-poppins-medium: "Poppins Medium", sans-serif;
	--font-poppins-light: "Poppins Light", sans-serif;
	--font-poppins-regular: "Poppins Regular", sans-serif;
  
	--font-size-h1-mobile: 64px;
	--letter-spacing-h1-mobile: 1.8px;
	--line-height-h1-mobile: 80px;
  
	--font-size-h1-desktop-tablet: 136px;
	--letter-spacing-h1-desktop-tablet: 1.8px;
	--line-height-h1-desktop-tablet: 156px;
  
	--font-size-h2-mobile: 52px;
	--letter-spacing-h2-mobile: 1.8px;
	--line-height-h2-mobile: 64px;
  
	--font-size-h2-desktop-tablet: 108px;
	--letter-spacing-h2-desktop-tablet: 1.8px;
	--line-height-h2-desktop-tablet: 124px;
  
	--font-size-h3-mobile: 32px;
	--letter-spacing-h3-mobile: 0.5px;
	--line-height-h3-mobile: 40px;
  
	--font-size-h3-desktop-tablet: 36px;
	--letter-spacing-h3-desktop-tablet: 0.5px;
	--line-height-h3-desktop-tablet: 48px;
  
	--font-size-body: 16px;
	--letter-spacing-body1: 0.2px;
	--line-height-body: 24px;
  
	--font-size-caption: 20px;
	--letter-spacing-caption: 0.5px;
	--line-height-caption: 32px;
  
	--font-size-caption-alt: 18px;
	--line-height-caption-alt: 28px;
  
	--secondary-color-for-white: #BCDFD1;
	--accent-color-for-white: #00B068;
	--secend-background-color-for-white: #E4E5E6;
	--first-background-color-for-white: #F0F0F0;
	--text-for-white: #292929;
  
	--secondary-color-for-black: #204136;
	--accent-color-for-black: #14C57C;
	--secend-background-color-for-black: #2A2D32;
	--first-background-color-for-black: #1E2023;
	--text-for-black: #F0F0F0;
}
/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

button {
	cursor: pointer;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
/* common styles */
body {
	font-family: var(--font-impact);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: 400;
  background-color: var(--first-background-color-for-black);
  color: var(--text-for-black);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden; 
}
.main {
	flex: 1 0 auto;
}
.footer {
	flex-shrink: 0;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
