.faq > .container .title {
	max-width: 100%;
	@media only screen and (min-width: 768px) {
		max-width: 592px;
	}
}
.accordion-container {
	@media only screen and (min-width: 1280px) {
		max-width: 592px;
	}
}
.faq > .container .ac {
	background: var(--white);
	margin-top: 0;
	border-bottom: 1px solid #ccc;
}
.faq > .container .ac.is-active {
	background: rgba(0, 176, 104, 0.2);
	border-bottom: none;
	border-radius: 16px;
}
.more-content {
	position: relative;
	min-width: 32px;
	min-height: 32px;
}
.first-line {
	position: absolute;
	top: 14px;
	left: 8px;
	border-top-left-radius: 1px;
	border-bottom-left-radius: 1px;
	height: 2px;
	width: 10px;
	background-color: var(--black);
	transform: rotate(-45deg);
	transition: transform var(--default-animation);
}
.second-line {
	position: absolute;
	right: 8px;
	top: 14px;
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;
	height: 2px;
	width: 10px;
	background-color: var(--black);
	transform: rotate(45deg);
	transition: transform var(--default-animation);
}

.ac.ac.is-active .first-line {
	top: 15px;
	transform: rotate(45deg);
}
.ac.ac.is-active .second-line {
	top: 15px;
	transform: rotate(-45deg);
}
.faq > .container .ac .ac-trigger {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--black);
	padding: 28px 24px 28px 24px;

	display: flex;
	justify-content: space-between;
}
.faq-questions {
	max-width: 224px;
	@media only screen and (min-width: 768px) {
		max-width: 600px;
	}

	@media only screen and (min-width: 1280px) {
		max-width: 488px;
	}
}
.faq > .container .ac.is-active > .ac-header .ac-trigger::after,
.faq > .container .ac .ac-trigger::after {
	content: "";
}

.faq > .container .ac .ac-panel .ac-text {
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.03em;
	color: var(--black);

	padding: 0px 24px 28px 24px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
	.faq .title {
		margin-bottom: 60px;
	}
}
@media only screen and (min-width: 1280px) {
	.faq .container {
		display: flex;
		align-items: end;
		justify-content: space-between;
		background-image: url("/img/faq-background@1x.png");
		background-position: bottom 0px left 32px;
		background-repeat: no-repeat;
		background-size: 526px 408px;
	}
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.faq .container {
			background-image: url("/img/faq-background@2x.png");
		}
	}
	.faq .title {
		margin-bottom: 648px;
	}
}

.dark-theme .faq > .container .ac {
	background: var(--darkTh-black);
	border-bottom: 1px solid var(--darkTh-light-grey);
}
.dark-theme .faq > .container .ac.is-active {
	background: var(--darkTh-light-accent);
}
.dark-theme .first-line {
	background-color: var(--darkTh-light-accent);
}
.dark-theme .second-line {
	background-color: var(--darkTh-light-accent);
}
.dark-theme .faq > .container .ac .ac-trigger {
	color: var(--white);
}
.dark-theme .faq > .container .ac .ac-panel .ac-text {
	color: var(--white);
}
.dark-theme .ac {
	border: 1px solid var(--darkTh-black);
}

.dark-theme .more-content {
	color: var(--white);
}
