/* відображати тільки на пк */

.map {
	width: 320px;
	display: none;
	border: 0px;
}
.address-item {
	margin-bottom: 16px;
	display: flex;
	gap: 16px;
}
.address-item > img {
	width: 24px;
	height: 24px;
}
.address-item:last-child {
	margin-bottom: 0;
}
.address-item > a {
	transition: color var(--default-animation);
}
.address-item > a:hover {
	color: var(--accet-green);
}
.attantion-text-contacts {
	margin-bottom: 32px;
}
.contacts-wrapper > .info-block {
	width: 100%;
}
.contacts-email {
	width: 100%;
	padding: 12px;
}
.contacts-message,
.contacts-email {
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.03em;
	color: var(--black);

	background: var(--light-grey);

	width: 100%;
	display: block;
	position: relative;
	z-index: 2;

	border: none;
	border-radius: 8px;
}
.contacts-message {
	resize: none;
	height: 128px;
	padding: 16px;
}
.contacts-message::placeholder,
.contacts-email::placeholder {
	color: rgba(41, 41, 41, 0.4);
}
.contacts-message:focus,
.contacts-email:focus {
	outline: none;
}

.contacts-button {
	padding: 12px 0;
	font-family: var(--font-family);
	background: var(--accet-green);
	width: 100%;
	border: 0;
	border-radius: 8px;
	font-weight: 500;

	line-height: 1.5;
	letter-spacing: 0.03em;
	color: var(--white);

	transition: background-color var(--default-animation);
}
.contacts-button:hover,
.contacts-button:active {
	background-color: #009156;
}

.form-items {
	margin-bottom: 32px;
}
.form-items:last-child {
	margin-bottom: 0px;
}
.contacts-label {
	position: relative;
	display: block;
}
.contacts-email ~ .invalid {
	transform: translate(0, 30px);
}
.invalid-email,
.invalid-text {
	position: absolute;
	font-weight: 300;
	top: 22px;
	left: 0;
	font-size: 12px;
	line-height: 133%;
	letter-spacing: 0.04em;
	transition: transform var(--default-animation);
	z-index: 1;
}
.invalid {
	color: #e74a3b;
}
.success-svg {
	z-index: 2;
	position: absolute;
	top: 17px;
	right: 0px;
	opacity: 0;

	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform var(--default-animation);
}

.contacts-email.valid ~ .success-svg {
	opacity: 1;
	transform: translate(-17px, 0);
}
.contacts-message.valid ~ .success-svg {
	opacity: 1;
	transform: translate(-17px, 0);
}
.contacts-message ~ .invalid {
	transform: translate(0, 110px);
}
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1279px) {
	.contacts-block {
		margin-bottom: 60px;
	}

	.attantion-text-contacts {
		max-width: 488px;
	}
	.adress-list {
		display: flex;
		gap: 16px;
	}
	.work-together .title {
		margin-bottom: 60px;
	}
	.work-together .container {
		padding-top: 124px;
		background-repeat: no-repeat;
	}
	.work-together .container {
		background-image: url("../img/tab-contacts-background@1x.png");
		background-position: top 20px right 32px;
		background-size: 336px 265px;
	}
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.work-together .container {
			background-image: url("../img/tab-contacts-background@2x.png");
		}
	}
}

/* desktop */
@media only screen and (min-width: 1280px) {
	.form {
		width: 592px;
	}
	.contacts-wrapper {
		display: flex;
		justify-content: space-between;
	}
	.contacts-block {
		max-width: 488px;
		margin-bottom: 0px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.attantion-text-contacts {
		margin-bottom: 0px;
	}
	.map {
		width: 100%;
		display: block;
		border: 0px;
	}
	.work-together .title {
		width: 507px;
		margin-bottom: 80px;
	}

	.work-together .container {
		padding-top: 164px;
		background-repeat: no-repeat;
	}
	.work-together .container {
		background-image: url("../img/desk-contacts-background@1x.png");
		background-position: top 20px right 32px;
		background-size: 526px 408px;
	}
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.work-together .container {
			background-image: url("../img/desk-contacts-background@2x.png");
		}
	}
}

/* tablet and desktop */
@media only screen and (min-width: 768px) {
	.title {
		font-size: 108px;
		line-height: 1.15;
		letter-spacing: 0.02em;
	}

	.attantion-text {
		font-size: 20px;
		line-height: 1.6;
	}
	.contacts-button {
		width: max-content;
		padding: 12px 24px;
	}
}

.dark-theme .address-item > a:hover {
	color: var(--accet-green);
}
.dark-theme .contacts-message,
.dark-theme .contacts-email {
	color: var(--white);
	background: var(--darkTh-light-grey);
}
.dark-theme .contacts-message::placeholder,
.dark-theme .contacts-email::placeholder {
	color: rgba(240, 240, 240, 0.4);
}
.dark-theme .contacts-button {
	background: var(--darkTh-accet-green);
	color: var(--white);
}
.dark-theme .contacts-button:hover,
.dark-theme .contacts-button:active {
	background-color: #009156;
}

.dark-theme .attantion-text {
	color: rgba(240, 240, 240, 1);
}
.dark-theme .invalid {
	color: rgba(240, 87, 72, 1);
}
